<h1><%= @album.name %></h1>

<form action="/album" method="post">
  <input type="hidden" name="_method" value="put">
  <%= csrf_tag %>
  <ul class="list-unstyled">
    <% @album.photos.each_with_index do |photo, idx| %>
      <%= partial("photo", locals: {photo: photo, idx: idx}) %>
    <% end %>
  </ul>
  <input type="submit" value="Save" class="btn btn-default">
  <a href="#" class="btn btn-primary file-upload">Upload photos</a>
</form>

<script>
  var mime_types = JSON.parse('<%= Shrine::Storage::Cloudinary::MIME_TYPES.to_json %>');

  $(".file-upload").on("click", function(e) {
    cloudinary.openUploadWidget({
      cloud_name:    '<%= ENV.fetch("CLOUDINARY_CLOUD_NAME") %>',
      upload_preset: '<%= ENV.fetch("CLOUDINARY_PRESET_NAME") %>',
      folder:        'cache',
      multiple:      true,
      eager:         [{width: 300, height: 300, crop: "fit"}],
    }, function(error, result) {
      var files = result.map(function(data) {
        return {
          id: data['public_id'].match(/cache\/(.+)/)[1] + '.' + data['format'],
          storage: 'cache',
          metadata: {
            size: data['bytes'],
            filename: data['original_filename'] + '.' + data['format'],
            mime_type: mime_types[data['format']]
          }
        }
      });

      var data = {
        photos: files.map(function(file) {
          return {image: JSON.stringify(file)}
        }),
        _csrf: $("input[name=_csrf]").val(),
      };

      $.ajax("/album/photos", {method: 'POST', data: data})
        .done(function(data) { $("ul").append(data) });
    });
  });
</script>
